
<h1>Юзеры</h1>
<div class="content">
    <p class="author"></p>
    <table border="1" width="400" class="sheet">
        <tr>
            <th>Login</th>
            <th>ID</th>
        </tr>
    </table>
    <p class="error"></p>
</div>
